.navbar{
  background-color: #90E0EF;
}
.nav-link{
  color:#21325E!important;
  font-size: 20px;
}

.navbar-brand{
  width: 60%;
  padding-left: 5%;
}
.brand-img{
  height: 5%;
  width: 20%;
}

.nav-item{
  padding: 5px;
}

.dropdown-menu
{
  background-color:  #90E0EF;
}

#services{
  padding-top: 20px;
  text-align: center;
}

p{
  text-align: justify;
}

.card{
  margin: auto;
}

.card-img-top{
  height: 10rem;
  width: 18rem;
}

.card-body{
  background-color: #EEF2FF;
}

#aboutus-name{
  background-image: url("https://www.teahub.io/photos/full/190-1904333_abstract-futuristic-circle-sci-fi-technology-innovation-circle.jpg" );
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



.about{
  color: white;
  text-align: center;
  font-size:100px;
  padding-top: 75px;
}

.about-img{
  height: 370px;
  width: 530px;
}

@media only screen and (max-width: 1024px){
  .about-img{
    height: 450px;
    width: 450px;
  }
  .footer-logo{
    height: 30%;
    width: 50%;
    margin-left: -100px !important;
  }

}

@media only screen and (max-width: 768px) {
  .brand-img{
    height: 80px;
    width: 120px;
  }
  .card {
    width: 20rem !important;
    margin: auto;
    margin-top: 50px;
  }
  .card-img-top{
    height: 10rem;
    width: 20rem;
  }
  .about-img{
    height: 400px;
    width: 690px;
  }
  .footer-logo{
    height: 20% !important;
    width: 50%;
    margin-left: -80px !important;
  }

  .icons{
    margin: 10px !important;
    font-size: 10px !important;
  }
  .iconline{
    padding-left: 10px !important;
  }


}

@media only screen and (max-width: 500px){
  .brand-img{
    height:100px;
    width: 200px;
  }
  .card {
    width: 18rem !important;
    margin: auto;

  }
  .card-img-top{
    height: 10rem;
    width: 18rem;
  }

  #aboutus-name{
    background-image: url("https://www.teahub.io/photos/full/190-1904333_abstract-futuristic-circle-sci-fi-technology-innovation-circle.jpg" );
    min-height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .about{
    color: white;
    text-align: center;
    font-size:50px;
    padding-top: 35px;
  }

  .about-img{
    height: 200px;
    width: 290px;
  }

  .aboutus-title{
    font-size: 30px;
  }

}

#footer{
  text-align:center;
  padding: 3% 15%;
    background-color: #90E0EF;
}

.footer-link{
  font-weight: normal;
  font-size: 13px;
  text-align: left;
  height: 5px;
}


.icons{
  margin: 20px 10px;
  font-size: 15px;
}

#team{
  background-image: url("https://ak.picdn.net/shutterstock/videos/25891295/thumb/1.jpg");
  min-height: 170px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.copy{
  font-size: 13px;
  margin-bottom: 0;
}

.footer-logo{
  height: 30%;
  width: 50%;
  margin-left: -130px;
}

.iconline{
  padding-left: 20px;
}

.btn{
  background-color: #98BAE7;
}
