.navbar{
  background-color: #90E0EF;
}
.nav-link{
  color:#21325E!important;
  font-size: 20px;
}

.navbar-brand{
  width: 60%;
  padding-left: 5%;
}
.brand-img{
  height: 5%;
  width: 20%;
}

.nav-item{
  padding: 5px;
}

.dropdown-menu
{
  background-color:  #90E0EF;
}

#services{
  padding-top: 20px;
  text-align: center;
}

.card{
  margin: auto;
}

.card-img-top{
  height: 10rem;
  width: 18rem;
}

.card-body{
  background-color: #EEF2FF;
}

@media only screen and (max-width: 768px) {
  .brand-img{
    height: 80px;
    width: 120px;
  }
  .card {
    width: 20rem !important;
    margin: auto;
    margin-top: 50px;
  }
  .card-img-top{
    height: 10rem;
    width: 20rem;
  }

}

@media only screen and (max-width: 500px){
  .brand-img{
    height:100px;
    width: 200px;
  }
  .card {
    width: 18rem !important;
    margin: auto;

  }
  .card-img-top{
    height: 10rem;
    width: 18rem;
  }
}
